<div class="details_wrap">
    <div class="post_wrap">
        <img class="image" src="<%= post["image"] %>" alt="">
        <p class="post_text"><%=post["post_text"]%></p>
        <p class="feeling_text">feeling <%= post["feeling"] %></p>
    </div>
    <div class="link_wrap">
        <a class="postedby_text_wrap" href="/user_profile/<%= post['user_id'] %>">
                <img class="icon_img icon_max_width" src="<%= find_user_by_id(post['user_id'])["icon"] %>" alt="">
                <p class="postedby_text"> posted by <%= find_user_by_id(post['user_id'])["name"] %> at <%= find_post_by_id(post['id'])['time_created'] %> <%= find_post_by_id(post['id'])['date_created'] %> </p>
            </a>
        <% if find_user_by_id(post['user_id'])["name"] == current_user['name'] %>
        <div class="details_buttons_wrap">
            <div class="details_buttons edit_button_styling">
                <a href="/posts/<%=post['id']%>/edit">edit</a>
            </div>
            <form action="/posts/<%=post['id']%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="details_buttons">delete</button>
            </form>
        </div>
        <% end %>
    </div>
</div>

<div class="comments_wrap">
    <p class="comments">Comments:</p>
        <% comments.each do |comment| %>
            <div class="individual_comment_wrap">
                <div class="individual_comment"> 
                    <img class="icon_img icon_height_width_adjust" src="<%= find_user_by_id(comment['user_id'])['icon'] %>" alt=""> <p class="comment_text"> <%= comment['comment'] %> - commented by <%= find_user_by_id(comment['user_id'])['name'] %> </p>
                    <% if current_user["name"] == find_user_by_id(comment['user_id'])['name'] %>
                    <div class="comment_buttons_wrap">
                        <div class="comment_buttons">
                            <a href="/comment/<%=comment['id']%>/edit">edit</a>
                        </div>
                            <form action="/comment/<%=comment['id']%>" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button class="comment_buttons">delete</button>
                            </form>
                        </div>
                </div>
                    <% end %>                
            </div>
        <% end %>
            
        <div class="createnew_comment">
            <form action="/comment/<%=post['id']%>" method="post">
            <input type="text" name="comment" id="" style='width:100%'>
            <br>
            <br>
            <button class="login_button right_align_button button_padding">Comment</button>
            </form>
        </div>
</div>