<a href="/posts/new">Post a new Woof!</a>

<h2>See the latest posts from your doggo friends...</h2>

<% posts.reverse_each do |post| %>
<div class="individual_posts">
    <p>
    <a href="/posts/<%=post['id']%>">
        <%=post["post_text"]%>
    </a>
    </p>
    <img src="<%= post["image"] %>" alt="">
    <p>
    feeling <%= post["feeling"] %>
    </p>
    <p>
    posted by <%= find_user_by_id(post['user_id'])["name"] %>
    </p>
</div>

<% end %> 