<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WOOFR</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="icon" type="image/png" href="/stylesheets/favicon.png"/>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1 class="heading">WOOFR</h1>
<h2 class="subheading"> &#x1F436; twitter for dogs. woof! </h2>
<div class="nav">
  <a href="/" class="button">Home</a>
  <a href="/about" class="button">About</a>
  <% if logged_in? %>
    <a class="button" href="/profile/<%= current_user()['id'] %>" class="nav">Profile</a>
  <% end %>
</div>

<div class="loggedin-wrap">
  <div class="loggedin">
    <% if logged_in? %>
    <div class="loggedin_img_text">
      <img class="icon_img" src="<%= current_user()['icon'] %>" alt="">
        <p class="loggedin_text"> 
        &#x1F43E; logged in as <%= current_user['name'] %> <br>
        &#x1F3E0; <%= current_user['location'] %> <br>
        &#x1F436; <%= current_user['bio'] %>
        </p>
    </div>
        <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
          <div class="logout_button_wrap">
            <button class="logout_button">log out</button>
          </div>
        </form>
  </div>
</div>
  <% end %>

  <%= yield %>

</body>
</html>