<h1 class="profile_heading">welcome to your profile, <%= user['name'] %> </h1>

<div class="profile_details_no_button">
    <p>Name: <%= user['name'] %> </p>
    <p>Email: <%= user['email'] %> </p>
    <p>Icon: <img src="<%= user['icon'] %>" alt=""> </p>
    <p>Location: &#x1F3E0; <%= user['location'] %> </p>
    <p>Bio: <%= user['bio'] %> </p>
</div>

<h1 class="profile_heading">Update or add to your existing your details</h1>

<div class="profile_details_no_button">
<form action="/profile/<%= user['id'] %>" method="post">
<input type="hidden" name="_method" value="patch">

    <label class="name_label" for="">Name:</label>
    <input type="text" name="name" value="<%= user['name'] %>" style='width:100%'>
<br>
    <label class="email_label" for="">Email:</label>
    <input type="email" name="email" value="<%= user['email'] %>" style='width:100%'>
<br>
    <label class="password_label" for="">Password:</label>
    <input type="password" name="password_digest" value="<%= user['password_digest'] %>" style='width:100%'>
<br>
    <label class="icon_label" for="">Icon:</label>
    <input type="text" name="icon" value="<%= user['icon'] %>" style='width:100%'>
<br>
    <label class="bio_label" for="">Bio:</label>
    <input type="text" name="bio" value="<%= user['bio'] %>" style='width:100%'>
<br>
    <label for="">Location:</label>
    <input type="text" name="location" value="<%= user['location'] %>" style='width:100%'>
<br>
<br>
    <button class="login_button right_align_button">Update!</button>
<br>
<% if display_error %>
    <%= error_message %>
<% end %>
</div>